body {
    position: relative;
    width: 100%;
    background-color: black;
}
.container {
    height: auto;
    width: auto;
}

.background {
    position: relative;
    width: 1860px;
    height: 110%;
}

.portifolio {
    position: absolute;
    left: 43%;
    right: 55.88%;
    top: 49.28%;
    bottom: 46.1%;
    

}

.contato {
    position: absolute;
    left: 42.8%;
    right: 47.41%;
    top: 74.21%;
    bottom: 20.84%;
    
}