body{
    background-color: black;
}

.cabecalho {
    margin: auto;
    padding: 50px;
    text-align:center;
    background-color: black;
    font-size: 30px;
    color: white;
}

.podcast{
    margin-top: 90px;
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 200px;

    display: grid;
    grid-template-columns: repeat(3, 15em);
    grid-auto-rows: 200px;
    width: 150px;
    height: 150px;
}

footer {
    margin-top: 600px;
    display: block;
    background-color: black;
    text-align: center;
    padding: 40px 0;
    color: white;
    font-size: 9px;
}